<!DOCTYPE html>
<html lang="fr">
    <%- include('./partials/head', {title: "Erreur"}); %>
    <body class="light">
        <section class="error">
            <h1><%= errorid %></h1>
            <div class="border_card">
                <a href="/">Revenir à l'accueil</a>
            </div>
        </section>
    </body>
</html>
