<!DOCTYPE html>
<html lang="fr">
    <%- include('./partials/head', {title: "Connexion"}); %>
    <body class="purple">
        <%- include('./partials/userslogin', {loginpagetitle: "Connexion"}); %>
    </body>
    <script type="text/javascript" src="js/login.js"></script>
</html>
