<!DOCTYPE html>
<html lang="fr">
    <%- include('./partials/head', {title: "Connexion"}); %>
    <body class="purple">
        <%- include('./partials/userslogin', {loginpagetitle: "Connexion", log: "Error"}); %>
    </body>
</html>
