<!DOCTYPE html>
<html lang="fr">
    <%- include('./partials/head', {title: "Connexion"}); %>
    <body class="purple">
        <% if (typeof log != "undefined") { %>
        <%- include('./partials/userslogin', {users, loginpagetitle: "Connexion", log}); %>
        <% } else { %>
        <%- include('./partials/userslogin', {users, loginpagetitle: "Connexion"}); %>
        <% } %> 
    </body>
</html>