#login {
    position: relative;
    width: 100%;

    .top {
        @include flexMid;

        margin-bottom: 50px;
        height: 50px;

        h1 {
            @include GilroyBold;

            text-align: center;
            font-size: 26px;
            color: $grayscale-primary;
        }
        button#closelogin {
            @include flexMid;

            position: absolute;
            top: 15px;
            left: 15px;
            border-radius: 20px;
            border: 1px solid $grayscale-primary;
            width: 50px;
            height: 50px;
            transition: 0.2s;

            &:hover {
                background: $main-primary;
                box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.25);
            }

            svg {
                fill: $grayscale-secondary;
            }
        }
    }

    .userstype {
        display: grid;
        row-gap: 15px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        h2 {
            @include GilroyMedium;

            font-size: 24px;
            color: $grayscale-primary;
        }
        ul.userslist {
            list-style: none;

            li:not(:last-child) {
                margin-bottom: 15px;
            }

            li#userlistelement {
                position: relative;

                &.active form {
                    height: 160px;

                    form.login {
                        border-radius: 0 0 20px 20px;
                    }
                }

                span#actual {
                    display: none;
                }

                form {
                    position: relative;
                    height: 80px;
                    border-radius: 20px;
                    overflow: hidden;
                    box-shadow: 0 0 25px rgba($color: #000000, $alpha: 0.15);
                    transition: 0.2s;

                    .informations {
                        background: $contrast-tertiary;
                        overflow-wrap: anywhere;
                        position: relative;
                        z-index: 2;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        column-gap: 15px;
                        padding: 15px;
                        border-radius: 20px;
                        box-shadow: 0 0 25px rgba($color: #000000, $alpha: 0.15);
                        cursor: pointer;
                        transition: 0.2s;

                        &:hover,
                        a.active {
                            background: $main-primary;
                        }

                        .global {
                            @include flexMid;

                            width: 100%;
                            column-gap: 15px;

                            .logo {
                                min-width: 50px;
                                height: 50px;
                                border-radius: 20px;
                                border: 1px solid $grayscale-primary;
                                overflow: hidden;
                                box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);

                                #logo {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            input#pseudo {
                                @include GilroyMedium;

                                font-size: 22px;
                                color: $grayscale-primary;
                                background: none;
                                border: none;
                                width: 100%;
                                cursor: pointer;
                            }
                        }
                        button#logout {
                            display: none;
                        }
                    }
                    .login {
                        position: absolute;
                        z-index: 1;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        column-gap: 15px;
                        padding: 15px;
                        padding-top: 50px;
                        width: 100%;
                        border-radius: 20px;
                        background: $contrast-tertiary;
                        transition: 0.2s;

                        .input {
                            display: flex;
                            align-items: center;
                            column-gap: 15px;
                            background: $grayscale-primary;
                            padding: 15px;
                            height: 50px;
                            width: 100%;
                            border-radius: 15px;
                            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.25);

                            input {
                                @include GilroyLight;

                                border: none;
                                background: none;
                                width: 100%;
                                font-size: 18px;
                                color: $contrast-secondary;

                                &::placeholder {
                                    color: $grayscale-tertiary;
                                }
                            }
                            span#show_password {
                                @include flexMid;

                                max-width: 20px;
                                max-height: 20px;
                                cursor: pointer;

                                &:hover svg {
                                    fill: $contrast-tertiary;
                                }

                                svg {
                                    fill: $contrast-secondary;
                                    transition: 0.2s;
                                }
                            }
                        }
                        button[type="submit"] {
                            @include flexMid;

                            border-radius: 50%;
                            border: 1px solid $grayscale-primary;
                            min-width: 40px;
                            height: 40px;
                            transition: 0.1s;

                            &:hover {
                                box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
                            }

                            svg {
                                fill: $grayscale-primary;
                                transform: translateX(1px);
                            }
                        }
                    }
                }
            }
        }
    }
}

.log {
    @include flexMid;

    width: 100%;
    margin-bottom: 30px;
    background: $info-red;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);

    p {
        @include GilroyRegular;

        font-size: 20px;
        color: $grayscale-primary;
    }
}

// Login Modal :
#login.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    width: 100%;
    height: 100vh;
    padding: 15px;
    background: linear-gradient(175deg, $main-primary 0%, $main-secondary 50%);
    transform-origin: top right;
    clip-path: circle(0% at 100% 0%);
    overflow-y: scroll;
    transition: 0.5s;

    &.active {
        clip-path: circle(150% at 100% 0%);
    }

    span#actual {
        @include flexMid;
        @include GilroyLight;

        display: block !important;
        position: absolute;
        right: 15px;
        top: -15px;
        z-index: 5;
        border-radius: 20px;
        padding: 5px 15px;
        background: $contrast-primary;
        box-shadow: 0px 0px 25px rgba($color: #000000, $alpha: 0.2);
        color: $grayscale-primary;
        font-size: 18px;
    }
    form .informations button#logout {
        @include flexMid;

        display: flex !important;
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $grayscale-primary;

        &:hover {
            border: 1px solid $info-red;
            box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
        }

        svg {
            fill: $grayscale-primary;
        }
    }
}

// Responsive :
@media screen and (min-width: 768px) {
    ul.userslist {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
    }
}
