<section class="settings_add_update" id="room">
    <button id="close">
        <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M22.9821 0.5L13 10.4821L3.01786 0.5L0.5 3.01786L10.4821 13L0.5 22.9821L3.01786 25.5L13 15.5179L22.9821 25.5L25.5 22.9821L15.5179 13L25.5 3.01786L22.9821 0.5Z"
            />
        </svg>
    </button>
    <form id="room_creation" method="POST" enctype="multipart/form-data">
        <input type="text" name="room" placeholder="Nom de la salle" required/>
        <div class="confirm">
            <button type="submit">Confirmer</button>
        </div>
    </form>
</section>
