<li class="device_element">
    <a href="/device/<%= device.id %>">
        <p id="device_name"><%= device.name %></p>
        <p id="device_value"><%= device.logs.filter((log) => log.type == "data").at(-1) ? device.logs.filter((log) => log.type == "data").at(-1).value : "" %></p>
    </a>
</li>