<header class="default">
    <div class="left">
        <!-- <p>Bienvenue <span><%= pseudo %></span></p> -->
        <button id="back">
            <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.6353 22.8647L7.63434 14.8637H25.5V11.1363H7.63434L15.6353 3.13531L13 0.5L0.5 13L13 25.5L15.6353 22.8647Z" />
            </svg>
        </button>
    </div>
    <div class="right">
        <button id="headernotifications">
            <svg width="20" height="26" viewBox="0 0 20 26" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M10 25.5C8.61929 25.5 7.5 24.3807 7.5 23H12.5C12.5 24.3807 11.3807 25.5 10 25.5ZM20 21.75H0V19.25L2.5 18V11.125C2.5 6.7975 4.27625 3.99125 7.5 3.225V0.5H12.5V3.225C15.7238 3.99 17.5 6.795 17.5 11.125V18L20 19.25V21.75ZM10 5.1875C8.47459 5.089 7.00348 5.7716 6.09375 7C5.31568 8.2307 4.93392 9.67048 5 11.125V19.25H15V11.125C15.066 9.67049 14.6842 8.23073 13.9062 7C12.9965 5.7716 11.5254 5.089 10 5.1875Z"
                />
            </svg>
            <div class="notificationsnumber">
                <p id="notificationslogs">16</p>
            </div>
        </button>
        <div class="logo">
            <img id="headerlogo" src="<%= logo %>" />
        </div>
    </div>
</header>
