<section class="historique">
    <button id="close">
        <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M22.9821 0.5L13 10.4821L3.01786 0.5L0.5 3.01786L10.4821 13L0.5 22.9821L3.01786 25.5L13 15.5179L22.9821 25.5L25.5 22.9821L15.5179 13L25.5 3.01786L22.9821 0.5Z"
            />
        </svg>
    </button>
    <div class="historique_lists">
        <ul class="historique_list active" id="values">
            <li>
                <p>32.9°C</p>
                <span>16:08:34</span>
            </li>
            <li>
                <p>33.1°°C</p>
                <span>16:09:34</span>
            </li>
            <li>
                <p>33.6°C</p>
                <span>16:10:34</span>
            </li>
            <li>
                <p>35.2°C</p>
                <span>16:11:34</span>
            </li>
        </ul>
        <ul class="historique_list" id="errors">
            <li>
                <p>Aucunes données de reçues</p>
                <span>16:08:34</span>
            </li>
            <li>
                <p>Erreur de connectivité</p>
                <span>16:09:34</span>
            </li>
        </ul>
    </div>
    <div class="historique_choices">
        <button class="historique_choice" id="values">
            <span id="logs_number"><p>14</p></span>
            <h2>Valeurs</h2>
        </button>
        <button class="historique_choice" id="errors">
            <span id="logs_number"><p>6</p></span>
            <h2>Erreurs</h2>
        </button>
    </div>
</section>
<script type="text/javascript" src="js/historique.js"></script>
