<article class="roomcard">
    <div class="head">
        <a href="/room/<%= room.id %> " id="title"><%= room.name %></a>
        <button class="togglebuttons" id="onoff">
            <svg width="18" height="21" viewBox="0 0 18 21" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.99997 20.5C13.9011 20.5 17.8889 16.5122 17.8889 11.6111C17.8889 7.88889 15.5866 4.69889 12.3333 3.37667V5.84667C13.3454 6.43102 14.1862 7.27118 14.7712 8.28291C15.3563 9.29465 15.665 10.4424 15.6666 11.6111C15.6666 15.2878 12.6766 18.2778 8.99997 18.2778C5.32331 18.2778 2.33331 15.2878 2.33331 11.6111C2.33478 10.4424 2.64353 9.29458 3.22858 8.28283C3.81364 7.27107 4.65443 6.43093 5.66664 5.84667V3.37667C2.41331 4.69889 0.111084 7.88889 0.111084 11.6111C0.111084 16.5122 4.09886 20.5 8.99997 20.5Z"
                />
                <path d="M7.88886 0.5H10.1111V11.6111H7.88886V0.5Z" />
            </svg>
        </button>
    </div>
    <div class="informations">
        <h2>Capteurs & Actionneurs</h2>
        <ul class="devices_list">
            <% for(let device of room.devices) { %>
                <%- include('deviceelement', {device}); %>
            <% } %>
        </ul>
    </div>
</article>
