<article class="roomcard">
    <div class="head">
        <p id="title"><%= roomname %></p>
        <button class="togglebuttons" id="onoff">
            <svg width="18" height="21" viewBox="0 0 18 21" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.99997 20.5C13.9011 20.5 17.8889 16.5122 17.8889 11.6111C17.8889 7.88889 15.5866 4.69889 12.3333 3.37667V5.84667C13.3454 6.43102 14.1862 7.27118 14.7712 8.28291C15.3563 9.29465 15.665 10.4424 15.6666 11.6111C15.6666 15.2878 12.6766 18.2778 8.99997 18.2778C5.32331 18.2778 2.33331 15.2878 2.33331 11.6111C2.33478 10.4424 2.64353 9.29458 3.22858 8.28283C3.81364 7.27107 4.65443 6.43093 5.66664 5.84667V3.37667C2.41331 4.69889 0.111084 7.88889 0.111084 11.6111C0.111084 16.5122 4.09886 20.5 8.99997 20.5Z"
                />
                <path d="M7.88886 0.5H10.1111V11.6111H7.88886V0.5Z" />
            </svg>
        </button>
        <button id="draggable">
            <svg width="20" height="13" viewBox="0 0 20 13" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M20 10.25C20 11.6307 18.8807 12.75 17.5 12.75C16.1193 12.75 15 11.6307 15 10.25C15 8.86929 16.1193 7.75 17.5 7.75C18.8807 7.75 20 8.86929 20 10.25ZM12.5 10.25C12.5 11.6307 11.3807 12.75 10 12.75C8.61929 12.75 7.5 11.6307 7.5 10.25C7.5 8.86929 8.61929 7.75 10 7.75C11.3807 7.75 12.5 8.86929 12.5 10.25ZM5 10.25C5 11.6307 3.88071 12.75 2.5 12.75C1.11929 12.75 0 11.6307 0 10.25C0 8.86929 1.11929 7.75 2.5 7.75C3.88071 7.75 5 8.86929 5 10.25ZM20 2.75C20 4.13071 18.8807 5.25 17.5 5.25C16.1193 5.25 15 4.13071 15 2.75C15 1.36929 16.1193 0.25 17.5 0.25C18.8807 0.25 20 1.36929 20 2.75ZM10 5.25C8.61929 5.25 7.5 4.13071 7.5 2.75C7.5 1.36929 8.61929 0.25 10 0.25C11.3807 0.25 12.5 1.36929 12.5 2.75C12.5 3.41304 12.2366 4.04893 11.7678 4.51777C11.2989 4.98661 10.663 5.25 10 5.25ZM5 2.75C5 4.13071 3.88071 5.25 2.5 5.25C1.11929 5.25 0 4.13071 0 2.75C0 1.36929 1.11929 0.25 2.5 0.25C3.88071 0.25 5 1.36929 5 2.75Z"
                />
            </svg>
        </button>
    </div>
    <div class="informations">
        <h2>Capteurs & Actionneurs</h2>
        <ul class="devices_list">
            <%- include('deviceelement', {devicename: "Température", devicevalue: "35.2°C"}); %>
        </ul>
    </div>
</article>
