<li id="userlistelement">
    <% if (connected) { %> 
        <span id="actual">Actuel</span>
    <% } %>
    <form method="POST">
        <div class="informations">
            <div class="global">
                <div class="logo">
                    <img id="logo" src="../img/icon/<%= icon %>" />
                </div>
                <input id="pseudo" name="username" value="<%= name %>" readonly></input>
            </div>
            <% if (connected) { %>
                <button id="logout">
                    <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 18H2C0.89543 18 0 17.1046 0 16V12H2V16H16V2H2V6H0V2C0 0.89543 0.89543 0 2 0H16C17.1046 0 18 0.89543 18 2V16C18 17.1046 17.1046 18 16 18ZM8 13V10H0V8H8V5L13 9L8 13Z"/>
                    </svg>
                </button>
            <% } %>
        </div>
        <div class="login">
            <div class="input">
                <input type="password" name="pass" placeholder="Mot de passe" />
                <span id="show_password">
                    <svg width="21" height="21" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.6974 17.7113C11.6719 17.7113 12.562 17.6052 13.3738 17.4218L11.5638 15.6118C11.2825 15.6334 10.9972 15.6509 10.6974 15.6509C5.18487 15.6509 3.04929 11.6888 2.53214 10.5C2.92047 9.63342 3.44493 8.83454 4.08566 8.13367L2.64546 6.69347C1.06104 8.41079 0.460441 10.1405 0.449109 10.1745C0.378048 10.386 0.378048 10.615 0.449109 10.8266C0.470743 10.8946 2.83399 17.7113 10.6974 17.7113ZM10.6974 3.28871C8.80493 3.28871 7.25039 3.69666 5.95441 4.29932L2.15406 0.5L0.697384 1.95668L19.2407 20.5L20.6974 19.0433L17.2782 15.6241C19.9711 13.6142 20.9323 10.8698 20.9467 10.8266C21.0177 10.615 21.0177 10.386 20.9467 10.1745C20.924 10.1054 18.5608 3.28871 10.6974 3.28871ZM15.8195 14.1654L13.4706 11.8166C13.6664 11.4148 13.7879 10.9729 13.7879 10.5C13.7879 8.80947 12.3879 7.40945 10.6974 7.40945C10.2245 7.40945 9.78258 7.53101 9.38184 7.72777L7.51926 5.8652C8.54174 5.51433 9.61642 5.33981 10.6974 5.34908C16.2099 5.34908 18.3455 9.31117 18.8626 10.5C18.5515 11.2129 17.6614 12.9127 15.8195 14.1654Z"
                        />
                    </svg>
                </span>
            </div>
            <button type="submit">
                <svg width="12" height="19" viewBox="0 0 12 19" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.559 9.49925L2.55827 0.5L0.440979 2.61729L7.32892 9.50524L0.440979 16.3827L2.55827 18.5L11.559 9.49925Z" />
                </svg>
            </button>
        </div>
    </form>
</li>
