@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/Gilroy-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Medium";
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
}

body {
  position: relative;
  padding: 15px;
  min-height: 100vh;
}

body.light {
  background: linear-gradient(165deg, #f5f8ff 0%, #dbe9f6 100%);
}

body.purple {
  background: linear-gradient(175deg, #6d5cde 0%, #4530b1 50%);
}

body.need_padding {
  padding-bottom: 105px;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar {
  background: #f5f8ff;
}

::-webkit-scrollbar-thumb {
  background: #3e2ea6;
}

::-webkit-scrollbar-thumb:hover {
  background: #341ea7;
}

@media screen and (min-width: 768px) {
  body.need_padding {
    padding-left: 105px;
    padding-bottom: 15px;
  }
}

section.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 30px);
  row-gap: 30px;
}

section.welcome .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

section.welcome .head h1 {
  font-family: "Gilroy Light";
  font-weight: 300;
  color: #0c2659;
  font-size: 26px;
}

section.welcome .head h1 span {
  font-family: "Gilroy Bold";
  font-weight: 700;
}

section.welcome .head p {
  font-family: "Gilroy Regular";
  font-weight: 400;
  font-size: 22px;
  color: #0c2659;
}

#user_creation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

#user_creation input {
  font-family: "Gilroy Medium";
  font-weight: 500;
  width: 100%;
  height: 50px;
  font-size: 22px;
  color: #f5f8ff;
  border: none;
  background: #5350d5;
  border-radius: 15px;
  padding: 15px;
}

#user_creation input::-webkit-input-placeholder {
  color: #b8c5d5;
}

#user_creation input:-ms-input-placeholder {
  color: #b8c5d5;
}

#user_creation input::-ms-input-placeholder {
  color: #b8c5d5;
}

#user_creation input::placeholder {
  color: #b8c5d5;
}

#user_creation .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  background: #5350d5;
  padding: 12px 15px;
  width: 100%;
  height: 50px;
  border-radius: 15px;
}

#user_creation .input.icon {
  padding: 0;
  background: none;
}

#user_creation .input.icon .input_file {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 12px 15px;
  border-radius: 15px;
  background: #5350d5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#user_creation .input.icon .input_file:hover {
  background: #341ea7;
}

#user_creation .input.icon .input_file p {
  font-family: "Gilroy Medium";
  font-weight: 500;
  font-size: 22px;
  color: #f5f8ff;
}

#user_creation .input.icon .input_file input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#user_creation .input.icon .logo {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #f5f8ff;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#user_creation .input.icon .logo #logo {
  width: 100%;
  height: 100%;
}

#user_creation .input input {
  padding: 0;
  border: none;
  background: none;
}

#user_creation .input span#show_password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 20px;
  max-height: 20px;
  cursor: pointer;
}

#user_creation .input span#show_password:hover svg {
  fill: #f5f8ff;
}

#user_creation .input span#show_password svg {
  fill: #b8c5d5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#user_creation .confirm {
  width: 100%;
  padding: 10px;
  border: 1px solid #4530b1;
  border-radius: 20px;
}

#user_creation .confirm button[type='submit'] {
  font-family: "Gilroy Medium";
  font-weight: 500;
  width: 100%;
  font-size: 24px;
  color: #f5f8ff;
  padding: 15px;
  background: #4530b1;
  border: 1px solid #4530b1;
  border-radius: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#user_creation .confirm button[type='submit']:hover {
  background: #341ea7;
}

#login {
  position: relative;
  width: 100%;
}

#login .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  height: 50px;
}

#login .top h1 {
  font-family: "Gilroy Bold";
  font-weight: 700;
  text-align: center;
  font-size: 26px;
  color: #f5f8ff;
}

#login .top button#closelogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 20px;
  border: 1px solid #f5f8ff;
  width: 50px;
  height: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#login .top button#closelogin:hover {
  background: #6d5cde;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

#login .top button#closelogin svg {
  fill: #dbe9f6;
}

#login .userstype {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
}

#login .userstype:not(:last-child) {
  margin-bottom: 30px;
}

#login .userstype h2 {
  font-family: "Gilroy Medium";
  font-weight: 500;
  font-size: 24px;
  color: #f5f8ff;
}

#login .userstype ul.userslist {
  list-style: none;
}

#login .userstype ul.userslist li:not(:last-child) {
  margin-bottom: 15px;
}

#login .userstype ul.userslist li#userlistelement {
  position: relative;
}

#login .userstype ul.userslist li#userlistelement.active form {
  height: 160px;
}

#login .userstype ul.userslist li#userlistelement.active form form.login {
  border-radius: 0 0 20px 20px;
}

#login .userstype ul.userslist li#userlistelement span#actual {
  display: none;
}

#login .userstype ul.userslist li#userlistelement form {
  position: relative;
  height: 80px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#login .userstype ul.userslist li#userlistelement form .informations {
  background: #5350d5;
  overflow-wrap: anywhere;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  padding: 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#login .userstype ul.userslist li#userlistelement form .informations:hover,
#login .userstype ul.userslist li#userlistelement form .informations a.active {
  background: #6d5cde;
}

#login .userstype ul.userslist li#userlistelement form .informations .global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

#login .userstype ul.userslist li#userlistelement form .informations .global .logo {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #f5f8ff;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#login .userstype ul.userslist li#userlistelement form .informations .global .logo #logo {
  width: 100%;
  height: 100%;
}

#login .userstype ul.userslist li#userlistelement form .informations .global input#pseudo {
  font-family: "Gilroy Medium";
  font-weight: 500;
  font-size: 22px;
  color: #f5f8ff;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

#login .userstype ul.userslist li#userlistelement form .informations button#logout {
  display: none;
}

#login .userstype ul.userslist li#userlistelement form .login {
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  padding: 15px;
  padding-top: 50px;
  width: 100%;
  border-radius: 20px;
  background: #5350d5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#login .userstype ul.userslist li#userlistelement form .login .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  background: #f5f8ff;
  padding: 15px;
  height: 50px;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

#login .userstype ul.userslist li#userlistelement form .login .input input {
  font-family: "Gilroy Light";
  font-weight: 300;
  border: none;
  background: none;
  width: 100%;
  font-size: 18px;
  color: #0c2659;
}

#login .userstype ul.userslist li#userlistelement form .login .input input::-webkit-input-placeholder {
  color: #b8c5d5;
}

#login .userstype ul.userslist li#userlistelement form .login .input input:-ms-input-placeholder {
  color: #b8c5d5;
}

#login .userstype ul.userslist li#userlistelement form .login .input input::-ms-input-placeholder {
  color: #b8c5d5;
}

#login .userstype ul.userslist li#userlistelement form .login .input input::placeholder {
  color: #b8c5d5;
}

#login .userstype ul.userslist li#userlistelement form .login .input span#show_password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 20px;
  max-height: 20px;
  cursor: pointer;
}

#login .userstype ul.userslist li#userlistelement form .login .input span#show_password:hover svg {
  fill: #5350d5;
}

#login .userstype ul.userslist li#userlistelement form .login .input span#show_password svg {
  fill: #0c2659;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#login .userstype ul.userslist li#userlistelement form .login button[type='submit'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid #f5f8ff;
  min-width: 40px;
  height: 40px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#login .userstype ul.userslist li#userlistelement form .login button[type='submit']:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#login .userstype ul.userslist li#userlistelement form .login button[type='submit'] svg {
  fill: #f5f8ff;
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}

.log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  background: #e74343;
  padding: 10px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.log p {
  font-family: "Gilroy Regular";
  font-weight: 400;
  font-size: 20px;
  color: #f5f8ff;
}

#login.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100%;
  height: 100vh;
  padding: 15px;
  background: linear-gradient(175deg, #6d5cde 0%, #4530b1 50%);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-clip-path: circle(0% at 100% 0%);
          clip-path: circle(0% at 100% 0%);
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#login.modal.active {
  -webkit-clip-path: circle(150% at 100% 0%);
          clip-path: circle(150% at 100% 0%);
}

#login.modal span#actual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Gilroy Light";
  font-weight: 300;
  display: block !important;
  position: absolute;
  right: 15px;
  top: -15px;
  z-index: 5;
  border-radius: 20px;
  padding: 5px 15px;
  background: #1dcbf2;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  color: #f5f8ff;
  font-size: 18px;
}

#login.modal form .informations button#logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex !important;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #f5f8ff;
}

#login.modal form .informations button#logout:hover {
  border: 1px solid #e74343;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#login.modal form .informations button#logout svg {
  fill: #f5f8ff;
}

@media screen and (min-width: 768px) {
  ul.userslist {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

section.room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

section.room .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

section.room .top h1 {
  font-family: "Gilroy Medium";
  font-weight: 500;
  width: 100%;
  font-size: 22px;
  border-radius: 15px;
  color: #f5f8ff;
  padding: 10px;
  background: #4530b1;
  text-align: center;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

section.room .top .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

section.room .sensors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

section.room .sensors h2 {
  font-family: "Gilroy Medium";
  font-weight: 500;
  font-size: 22px;
  color: #0c2659;
}

section.room .sensors ul.devices_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #4530b1;
  padding: 10px;
}

section.room .sensors ul.devices_list li.sensors_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -15px;
  right: 15px;
  z-index: 1;
  height: 30px;
  padding: 0 15px;
  border-radius: 20px;
  background: #1dcbf2;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

section.room .sensors ul.devices_list li.sensors_number p {
  font-family: "Gilroy Regular";
  font-weight: 400;
  font-size: 18px;
  color: #f5f8ff;
}

section.room .sensors ul.devices_list li.device_element {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.room .sensors ul.devices_list li.device_element:hover {
  background: #341ea7;
}

section.room .sensors ul.devices_list li.device_element button#draggable {
  position: absolute;
  top: 15px;
  right: 15px;
}

section.room .sensors ul.devices_list li.device_element button#draggable:hover svg {
  fill: #1dcbf2;
}

section.room .sensors ul.devices_list li.device_element button#draggable svg {
  fill: #f5f8ff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (min-width: 768px) {
  section.room .sensors ul.devices_list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  section.room .sensors ul.devices_list li.device_element:last-child:nth-child(2n + 2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

section.sensor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

section.sensor .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

section.sensor .top h1 {
  font-family: "Gilroy Medium";
  font-weight: 500;
  width: 100%;
  font-size: 22px;
  border-radius: 15px;
  color: #f5f8ff;
  padding: 10px;
  background: #5350d5;
  text-align: center;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

section.sensor .top .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

section.sensor .informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

section.sensor .informations h2 {
  font-family: "Gilroy Medium";
  font-weight: 500;
  font-size: 22px;
  color: #f5f8ff;
}

section.sensor .informations .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  min-height: 100px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

section.sensor .informations .info#type {
  padding: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 60px;
}

section.sensor .informations .info#type h3 {
  font-family: "Gilroy Medium";
  font-weight: 500;
  font-size: 22px;
}

section.sensor .informations .info#type span {
  bottom: -15px;
  right: 15px;
  top: auto;
  left: auto;
}

section.sensor .informations .info#room {
  padding: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
}

section.sensor .informations .info#room h3 {
  font-family: "Gilroy Medium";
  font-weight: 500;
  font-size: 22px;
}

section.sensor .informations .info span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -15px;
  left: 15px;
  z-index: 1;
  height: 30px;
  padding: 0 15px;
  border-radius: 20px;
  background: #1dcbf2;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

section.sensor .informations .info span p {
  font-family: "Gilroy Regular";
  font-weight: 400;
  font-size: 18px;
  color: #f5f8ff;
}

section.sensor .informations .info h3 {
  font-family: "Gilroy Bold";
  font-weight: 700;
  color: #f5f8ff;
  font-size: 32px;
}

section.sensor .informations .info h3.no_battery {
  font-family: "Gilroy Medium";
  font-weight: 500;
  color: #e74343;
}

section.sensor .informations .info h3#green {
  color: #43e77a;
}

section.sensor .informations .info h3#orange {
  color: #e78843;
}

section.sensor .informations .info h3#red {
  color: #e74343;
}

section.sensor .informations .global {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

section.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

section.settings h1 {
  font-family: "Gilroy Medium";
  font-weight: 500;
  width: 100%;
  font-size: 22px;
  border-radius: 15px;
  color: #f5f8ff;
  padding: 10px;
  background: #5350d5;
  text-align: center;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

section.settings #settings_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  padding: 15px;
  border: 1px solid #f5f8ff;
  border-radius: 20px;
}

section.settings #settings_element .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.settings #settings_element .header h2 {
  font-family: "Gilroy Medium";
  font-weight: 500;
  font-size: 24px;
  color: #f5f8ff;
}

section.settings #settings_element #setting {
  font-family: "Gilroy Medium";
  font-weight: 500;
  font-size: 22px;
  color: #f5f8ff;
  border-radius: 15px;
  padding: 10px;
  background: #5350d5;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.settings #settings_element #setting:hover {
  background: #6d5cde;
}

section.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 30px);
}

section.error h1 {
  font-family: "Gilroy Bold";
  font-weight: 700;
  font-size: 128px;
  color: #0c2659;
}

section.error .border_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 414px;
  border-radius: 20px;
  border: 1px solid #4530b1;
  padding: 15px;
}

section.error .border_card a {
  font-family: "Gilroy Medium";
  font-weight: 500;
  width: 100%;
  color: #f5f8ff;
  text-align: center;
  font-size: 24px;
  background: #4530b1;
  border-radius: 15px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.error .border_card a:hover {
  background: #341ea7;
}

body.light nav {
  border: 1px solid #4530b1;
  background: linear-gradient(94.93deg, #4530b1 0%, #3e2ea6 42.96%);
}

body.light nav a:hover svg {
  fill: #f5f8ff;
}

body.purple nav {
  border: 1px solid #f5f8ff;
  background: linear-gradient(94.93deg, #f5f8ff 0%, #dbe9f6 42.96%);
}

body.purple nav a:hover svg {
  fill: #4530b1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  z-index: 20;
  bottom: 15px;
  left: 15px;
  width: calc(100% - 30px);
  height: 75px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

nav a {
  position: relative;
  height: 25px;
}

nav a.active::before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 7px;
  height: 7px;
  background: #1dcbf2;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(29, 203, 242, 0.25);
          box-shadow: 0 0 5px rgba(29, 203, 242, 0.25);
}

nav a.active:hover svg {
  fill: #1dcbf2 !important;
}

nav a.active svg {
  fill: #1dcbf2;
}

nav a svg {
  position: relative;
  height: 25px;
  fill: #b8c5d5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (min-width: 768px) {
  nav {
    width: 75px;
    height: calc(100% - 30px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav a.active::before {
    top: 50%;
    left: -105%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    width: 7.5px;
    height: 50px;
    border-radius: 10px 10px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 15;
  width: 100%;
  margin-bottom: 50px;
}

header .left p {
  font-family: "Gilroy Regular";
  font-weight: 400;
  font-size: 20px;
  color: #0c2659;
}

header .left p span {
  font-family: "Gilroy Bold";
  font-weight: 700;
}

header .left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  border: 1px solid #6d5cde;
  width: 50px;
  height: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .left a:hover {
  background: #f5f8ff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

header .left a svg {
  fill: #4530b1;
}

header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

header .right #headernotifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #6d5cde;
  padding: 8px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .right #headernotifications:hover {
  background: #f5f8ff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

header .right #headernotifications svg {
  fill: #6d5cde;
}

header .right #headernotifications .notificationsnumber {
  position: absolute;
  top: -50%;
  right: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  border-radius: 10px;
  padding: 1px 5px;
  background: #e74343;
  border: 1px solid #f5f8ff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header .right #headernotifications .notificationsnumber p {
  font-family: "Gilroy Light";
  font-weight: 300;
  color: #f5f8ff;
}

header .right .logo {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #f5f8ff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .right .logo:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header .right .logo #headerlogo {
  width: 100%;
  height: 100%;
}

body.purple header .left p {
  color: #f5f8ff;
}

body.purple header .left a {
  border: 1px solid #f5f8ff;
}

body.purple header .left a:hover {
  background: #6d5cde;
}

body.purple header .left a svg {
  fill: #f5f8ff;
}

body.purple header .right #headernotifications {
  border: 1px solid #f5f8ff;
}

body.purple header .right #headernotifications:hover {
  background: #6d5cde;
}

body.purple header .right #headernotifications svg {
  fill: #f5f8ff;
}

.roomlist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  row-gap: 15px;
}

.roomcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #4530b1;
  padding: 10px;
}

.roomcard .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  width: 100%;
}

.roomcard .head a {
  font-family: "Gilroy Medium";
  font-weight: 500;
  width: 100%;
  font-size: 22px;
  border-radius: 15px;
  color: #f5f8ff;
  padding: 10px;
  background: #4530b1;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.roomcard .head a:hover {
  background: #341ea7;
}

.roomcard .informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.roomcard .informations h2 {
  font-family: "Gilroy Medium";
  font-weight: 500;
  font-size: 22px;
  color: #0c2659;
}

.roomcard .informations ul.devices_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.roomcard .informations ul.devices_list li.device_element:last-child:nth-child(2n + 1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

ul.devices_list {
  position: relative;
  list-style: none;
  grid-gap: 15px;
}

ul.devices_list li.device_element a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  background: #4530b1;
  border-radius: 15px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

ul.devices_list li.device_element a:hover {
  background: #341ea7;
}

ul.devices_list li.device_element a #device_name {
  font-family: "Gilroy Medium";
  font-weight: 500;
  font-size: 18px;
  color: #f5f8ff;
}

ul.devices_list li.device_element a #device_value {
  font-family: "Gilroy Bold";
  font-weight: 700;
  font-size: 22px;
  color: #1dcbf2;
}

@media screen and (min-width: 768px) {
  .roomlist {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

section.historique {
  position: absolute;
  bottom: 105px;
  left: 15px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 30px);
  height: calc(100% - 282px);
  border-radius: 20px;
  border: 1px solid #f5f8ff;
  background: linear-gradient(165deg, #f5f8ff 0%, #dbe9f6 100%);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section.historique.active {
  -webkit-clip-path: circle(75% at 50% 50%);
          clip-path: circle(75% at 50% 50%);
}

section.historique button#close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 11;
  top: -25px;
  right: 15px;
  width: 50px;
  height: 50px;
  background: #1dcbf2;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.historique button#close:hover {
  background: #5350d5;
}

section.historique button#close svg {
  fill: #f5f8ff;
}

section.historique .historique_lists {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section.historique .historique_lists ul.historique_list {
  position: absolute;
  top: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 15px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

section.historique .historique_lists ul.historique_list::-webkit-scrollbar {
  display: none;
}

section.historique .historique_lists ul.historique_list#values {
  left: -100%;
}

section.historique .historique_lists ul.historique_list#values.active {
  left: 0;
}

section.historique .historique_lists ul.historique_list#errors {
  left: 100%;
}

section.historique .historique_lists ul.historique_list#errors.active {
  left: 0;
}

section.historique .historique_lists ul.historique_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  width: 100%;
}

section.historique .historique_lists ul.historique_list li:not(:first-child) {
  border-bottom: 1px solid #dbe9f6;
}

section.historique .historique_lists ul.historique_list li p {
  font-family: "Gilroy Regular";
  font-weight: 400;
  width: 100%;
  font-size: 18px;
  color: #0c2659;
}

section.historique .historique_lists ul.historique_list li span {
  font-family: "Gilroy Light";
  font-weight: 300;
  font-size: 14px;
  color: #b8c5d5;
}

section.historique .historique_choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  padding: 15px;
  width: 100%;
}

section.historique .historique_choices button.historique_choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  background: #f5f8ff;
  border: 1px solid #f5f8ff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.historique .historique_choices button.historique_choice:hover {
  background: #dbe9f6;
}

section.historique .historique_choices button.historique_choice.active {
  background: linear-gradient(285deg, #f5f8ff 0%, #dbe9f6 100%);
}

section.historique .historique_choices button.historique_choice#values span {
  background: #5350d5;
}

section.historique .historique_choices button.historique_choice#errors span {
  background: #e74343;
}

section.historique .historique_choices button.historique_choice span {
  position: absolute;
  top: -10px;
  right: 10px;
  border-radius: 10px;
  padding: 1px 5px;
  border: 1px solid #f5f8ff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

section.historique .historique_choices button.historique_choice span p {
  font-family: "Gilroy Light";
  font-weight: 300;
  color: #f5f8ff;
}

section.historique .historique_choices button.historique_choice h2 {
  font-family: "Gilroy Medium";
  font-weight: 500;
  font-size: 22px;
  color: #0c2659;
}

@media screen and (min-width: 768px) {
  section.historique {
    left: 105px;
    bottom: 15px;
    width: calc(100% - 120px);
    height: calc(100% - 193px);
  }
}

.togglebuttons,
.addbuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  min-width: 40px;
  border-radius: 100%;
  border: 1px solid #43e77a;
  background: rgba(67, 231, 122, 0.8);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.togglebuttons:hover,
.addbuttons:hover {
  background: rgba(44, 207, 99, 0.8);
}

.togglebuttons.down,
.addbuttons.down {
  border: 1px solid #e74343;
  background: rgba(231, 67, 67, 0.8);
}

.togglebuttons.down:hover,
.addbuttons.down:hover {
  background: rgba(212, 45, 45, 0.8);
}

.togglebuttons svg,
.addbuttons svg {
  fill: #f5f8ff;
}

.bluebutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  min-width: 40px;
  border-radius: 100%;
  border: 1px solid #f5f8ff;
  background: #4530b1;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.bluebutton:hover {
  background: #341ea7;
}

.bluebutton svg {
  fill: #f5f8ff;
}

button#draggable {
  cursor: -webkit-grab;
  cursor: grab;
}

body.purple .bluebutton {
  background: #6d5cde;
}

body.purple .bluebutton:hover {
  background: #4530b1;
}
/*# sourceMappingURL=style.css.map */